<header>
  <div class="header-container">
    <div class="app-name-container flex">
      <img type="header-svg" src="/icons/smileyIcon.svg" alt="" />
      <div>
        <a href="/"><h1>Mini Messageboard</h1></a>
        <p>Chat away!</p>
      </div>
    </div>
    <nav>
      <ul>
        <li>
          <a href="/">Messages</a>
        </li>
        <li>
          <a href="/newMessage">New Message</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
