<!doctype html>
<html lang="en">
  <%- include("partials/head.ejs", { title: locals.title }) %>

  <body>
    <section class="display-messages">
      <% locals.messages.forEach(message => { %>
        <div>
          <h3>
            <%= message.text %>
          </h3>
          <p>
            <%= message.user %>
          </p>
          <p>
            <i><%= message.added %></i>
          </p>
        </div>
      <% }); %>
    </section>
    <button type="button"><a href="/newMessage">New Message</a></button>
  </body>
</html>
