:root {
  --clr-shadow: black;
  --clr-primary: #232331;
  --clr-secondary: #5ac0d7;
  --clr-third: #538b9d;
  --clr-text: #e2e3e9;
  --clr-button: #29595b;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
label,
input,
textarea,
button,
a,
ul,
li {
  font-size: 14px;
  font-family: "Times New Roman", Times, serif;
  text-decoration: none;
  list-style: none;
  color: var(--clr-text);
}
body {
  min-height: 100vh;
  min-width: 100vw;
  background: linear-gradient(
    45deg,
    var(--clr-primary) 0%,
    var(--clr-third) 300%
  );
  background-repeat: no-repeat;
  color: var(--clr-text);
}
.flex {
  display: flex;
}
header {
  padding: 5px 0 20px 0;
}
.header-container {
  max-width: 1080px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.app-container {
  max-width: 1080px;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.app-name-container h1 {
  font-size: 56px;
}
.app-name-container p {
  font-size: 24px;
}
nav {
  display: flex;
}
nav ul {
  display: flex;
  gap: 30px;
  align-self: center;
}
nav ul li a {
  font-size: 24px;
}
nav ul li a:hover {
  text-decoration: underline;
}
img[type="svg"] {
  width: auto;
  height: 20px;
  padding-right: 5px;
  filter: invert(35%) sepia(85%) saturate(500%) hue-rotate(120deg);
}
img[type="header-svg"] {
  width: auto;
  height: 80px;
}
img[type="detail-svg"] {
  width: auto;
  height: 33px;
  padding-right: 5px;
  filter: invert(35%) sepia(85%) saturate(500%) hue-rotate(120deg);
}
.open-icon {
  position: absolute;
  top: 5px;
  right: 5px;
}
.message-box-container {
  position: relative;
  box-shadow: 1px 1px 5px var(--clr-shadow);
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 80ch;
}
.message-container {
  display: flex;
  align-items: center;
}
.message-container__text {
  margin-bottom: 10px;
  padding-right: 20px;
  align-items: start;
}
.message-container__text h3 {
  font-size: 24px;
}
.message-container__user {
  padding-top: 5px;
}
.message-container__time p {
  font-size: 14px;
}
.button {
  border-style: none;
  display: inline-block;
  background-color: #29595b;
  padding: 8px;
  border-radius: 5px;
  margin-top: 10px;
  cursor: pointer;
  box-shadow: 1px 1px 5px var(--clr-shadow);
  color: var(--clr-text);
  font-size: 18px;
}
.new-message-container {
  max-width: 400px;
}
.new-message-container h2 {
  font-size: 32px;
}
.new-message-container label {
  font-size: 24px;
  margin-top: 10px;
}
.new-message-container input,
.new-message-container textarea {
  border-style: none;
  font-size: 24px;
  border-radius: 8px;
  background-color: var(--clr-button);
  color: var(--clr-text);
  padding: 10px;
  margin: 5px 0;
  box-shadow: 1px 1px 5px var(--clr-shadow);
}
.message-form {
  display: flex;
  flex-direction: column;
}
.message-details-section {
  box-shadow: 1px 1px 5px var(--clr-shadow);
  padding: 40px;
  margin-top: 10px;
  border-radius: 8px;
}
.message-details-id {
  font-size: 48px;
  margin-bottom: 20px;
  text-decoration: underline;
}
.message-details-text {
  font-size: 32px;
  margin-bottom: 10px;
}
.message-details-user,
.message-details-time {
  font-size: 18px;
}
footer {
  position: absolute;
  bottom: 20px;
  left: 50%;
  translate: -50%;
  align-self: center;
}
footer p {
  font-size: 18px;
}

/* Small desktop styles */
@media screen and (max-width: 1140px) {
  header {
    padding: 5px 0 20px 0;
  }
  .header-container {
    max-width: 800px;
  }
  .app-container {
    max-width: 800px;
  }
  .app-name-container h1 {
    font-size: 32px;
  }
  .app-name-container p {
    font-size: 14px;
  }
  nav ul {
    gap: 15px;
  }
  nav ul li a {
    font-size: 18px;
  }
}

/* Tablet styles */
@media screen and (max-width: 850px) {
  .header-container {
    max-width: 500px;
  }
  .app-container {
    max-width: 500px;
  }
  .app-name-container h1 {
    font-size: 24px;
  }
  .app-name-container p {
    font-size: 18px;
  }
  nav ul {
    gap: 10px;
  }
  nav ul li a {
    font-size: 12px;
  }
  img[type="header-svg"] {
    width: auto;
    height: 50px;
  }
}

/* Mobile styles */
@media screen and (max-width: 540px) {
  .header-container {
    max-width: 280px;
    flex-direction: column;
  }
  .app-container {
    max-width: 280px;
  }
  .app-name-container h1 {
    font-size: 28px;
  }
  .app-name-container p {
    font-size: 12px;
  }
  nav {
    align-self: end;
  }
  nav ul {
    gap: 5px;
  }
  nav ul li a {
    font-size: 11px;
  }
  img[type="header-svg"] {
    height: 35px;
  }
  img[type="svg"] {
    height: 15px;
  }
  img[type="detail-svg"] {
    height: 20px;
  }
  .message-container__text {
    margin-bottom: 5px;
  }
  .message-container__text h3 {
    font-size: 18px;
  }
  .message-container__time p {
    font-size: 12px;
  }
  .button {
    font-size: 14px;
  }
  .new-message-container {
    max-width: 330px;
  }
  .new-message-container label {
    font-size: 18px;
  }
  .message-details-section {
    padding: 20px;
  }
  .message-details-id {
    font-size: 24px;
  }
  .message-details-text {
    font-size: 18px;
  }
  .message-details-user,
  .message-details-time {
    font-size: 12px;
  }
}
